.task-item {
  background: #fefefe;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;
  margin-bottom: 16px;

  & + .task-item {
    margin-top: 16px;
  }

  .title {
    color: #29292e;
    font-weight: 500;
  }

  .separator {
    font-size: 14px;
    color: #a8a8b3;

    margin: 32px 0px 8px 0px;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-right: 16px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-left: 16px;
    }
  }

  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 1px;
    margin-bottom: 16px;

    .detail {
      span {
        font-size: 14px;

        .data {
          color: #835afd;
          font-weight: 500;
          margin-left: 8px;
        }

        .task-closed {
          color: #835afd;
          font-weight: 500;
          margin-left: 8px;
        }

        .task-opened {
          color: rgb(68, 195, 46);
          width: 90px;
          font-weight: 500;
          margin-left: 8px;
        }
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;
      margin-left: 16px;

      &:hover {
        svg path {
          stroke-width: 2.5px;
        }
      }
    }
  }
}
