#page-room {
  header {
    padding: 24px;
    border-bottom: 1px solid #e2e2e2;

    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 45px;
      }

      > a {
        font-size: 16px;
        color: #8e63e9;
        text-decoration: none;
        font-weight: 500;
      }

      .link {
        margin-left: 16px;
        text-decoration: none !important;
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;

    .room-title {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 18px;
      grid-row-gap: 1px;
      margin: 32px 0 24px 0;
      font-family: 'Poppins', sans-serif;
      color: #29292e;

      .user {
        display: flex;
        flex: 2;
        align-items: center;

        .gravatar {
          width: 45px;
          height: 45px;
          margin-right: 8px;
          border-radius: 100%;
        }
        span {
          font-size: 16px;

          span {
            color: #835afd;
            font-weight: bold;
          }
        }
      }

      .tasks {
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: row-reverse;

        h1 {
          font-size: 16px;
        }

        div {
          display: table-cell;
          margin-left: 8px;
          background: #e559f9;
          color: #fff;
          font-weight: 500;
          font-size: 16px;
          border-radius: 9999px;
          padding: 8px 16px;
        }
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 16px;
        background: #fefefe;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
        resize: vertical;
        min-height: 100px;
      }

      .input-date {
        margin-top: 16px;
        width: 250px;
        margin-right: 32px;

        #untilDate-label {
          color: #835afd;
          font-size: 16px;
          margin-bottom: 16px;
        }
      }

      select {
        min-width: 480px;
        font-size: 16px;
        margin-top: 32px;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 22px;
            height: 22px;
          }

          > span {
            margin-left: 8px;
            color: #29292e;
            font-weight: 500;
            font-size: 14px;
          }
        }

        span {
          font-size: 14px;
          color: #737380;
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: #835afd;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }

    .tools {
      background: #ececec;
      border-radius: 16px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
      padding: 24px;
      margin-bottom: 16px;
      margin-top: 16px;
      display: flex;
      font-size: 14px;

      .filter {
        flex: 3;
      }

      .order {
        flex: 2;
      }
    }
    .task-list {
      margin-top: 38px;
    }
  }
}
